html{
    font-family: 'Oswald', sans-serif;
}
body{
    background-color: #292929;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

#logo{
    fill: #fefffc;
    height: 300px;
    position: absolute;
    top: calc(50% - 150px);
    left: calc(50% - 150px);
    animation: neon-pulse ease-in-out 2s infinite alternate;
}

.coming{
    width: 300px;
    height: 80px;
    position: absolute;
    top: calc(50% + 150px);
    left: calc(50% - 150px);
}
.coming p{
    width: 100%;
    text-align: center;
    color: #fefffc;
    font-size: 30px;
    text-transform: uppercase;
    margin: 0;
}


@keyframes neon-pulse{
    0%{
        -webkit-filter: drop-shadow( -2px -2px 2px #ff02f7) drop-shadow( 2px 2px 2px #02f7ff);
        filter: drop-shadow( -2px -2px 2px #ff02f7) drop-shadow( 2px 2px 2px #02f7ff);
    }
    50%{
        -webkit-filter: drop-shadow( -2px -2px 2px #02f7ff) drop-shadow( 2px 2px 2px #f7ff02);
        filter: drop-shadow( -2px -2px 2px #02f7ff) drop-shadow( 2px 2px 2px #f7ff02);
    }
    100%{
        -webkit-filter: drop-shadow( -2px -2px 2px #f7ff02) drop-shadow( 2px 2px 2px #ff02f7);
        filter: drop-shadow( -2px -2px 2px #f7ff02) drop-shadow( 2px 2px 2px #ff02f7);
    }
}
/*--------------------------------- ring 1 ---------------------------*/
.circleText1 text {
    fill: #fefffc;
    font-family: 'Oswald';
    font-size: 63px;
    letter-spacing: 2.5px;
    -webkit-filter: drop-shadow( 2px 2px 2px rgba(0, 255, 255, .7));
    filter: drop-shadow( 2px 2px 2px rgba(0, 255, 255, .7));
}

.circleText1 tspan{
    font-size: 63px;
}
  
.circleText1 { 
    position: absolute;
    
    width: 350px;
    height: 350px;
    overflow: visible;
    
    transform-origin: center center;
    
    stroke-opacity: 0.0;
    position: absolute;
    top: calc(50% - 175px);
    left: calc(50% - 175px);
}

/*--------------------------------- ring 2 ---------------------------*/
.circleText2 text {
    fill: #fefffc;
    opacity: 0.8;
    font-family: 'Oswald';
    font-size: 63px;
    letter-spacing: 2.5px;
    letter-spacing: 2.5px;
    -webkit-filter: drop-shadow( 2px 2px 2px rgba(255, 255, 0, .7));
    filter: drop-shadow( 2px 2px 2px rgba(255, 255, 0, .7));
}

.circleText2 tspan{
    font-size: 63px;
}
  
.circleText2 { 
    position: absolute;
    
    width: 450px;
    height: 450px;
    overflow: visible;
    
    transform-origin: center center;
    
    stroke-opacity: 0.0;
    position: absolute;
    top: calc(50% - 225px);
    left: calc(50% - 225px);
}

/*--------------------------------- ring 3 ---------------------------*/
.circleText3 text {
    fill: #fefffc;
    opacity: 0.6;
    font-family: 'Oswald';
    font-size: 63px;
    letter-spacing: 2.5px;
    -webkit-filter: drop-shadow( 2px 2px 2px rgba(0, 0, 255, .7));
    filter: drop-shadow( 2px 2px 2px rgba(0, 0, 255, .7));
}

.circleText3 tspan{
    font-size: 63px;
}
  
.circleText3 { 
    position: absolute;
    
    width: 580px;
    height: 580px;
    overflow: visible;
    
    transform-origin: center center;
    
    stroke-opacity: 0.0;
    position: absolute;
    top: calc(50% - 290px);
    left: calc(50% - 290px);
}

/*--------------------------------- ring 4 ---------------------------*/
.circleText4 text {
    fill: #fefffc;
    opacity: 0.4;
    font-family: 'Oswald';
    font-size: 63px;
    letter-spacing: 2.5px;
    -webkit-filter: drop-shadow( 2px 2px 2px rgba(0, 255, 0, .7));
    filter: drop-shadow( 2px 2px 2px rgba(0, 255, 0, .7));
}

.circleText4 tspan{
    font-size: 63px;
}
  
.circleText4 { 
    position: absolute;
    
    width: 730px;
    height: 730px;
    overflow: visible;
    
    transform-origin: center center;
    
    stroke-opacity: 0.0;
    position: absolute;
    top: calc(50% - 365px);
    left: calc(50% - 365px);
}

/*--------------------------------- ring 5 ---------------------------*/
.circleText5 text {
    fill: #fefffc;
    opacity: 0.2;
    font-family: 'Oswald';
    font-size: 63px;
    letter-spacing: 2.5px;
    -webkit-filter: drop-shadow( 2px 2px 2px rgba(255, 0, 0, .7));
    filter: drop-shadow( 2px 2px 2px rgba(255, 0, 0, .7));
}

.circleText5 tspan{
    font-size: 63px;
}
  
.circleText5 { 
    position: absolute;
    
    width: 930px;
    height: 930px;
    overflow: visible;
    
    transform-origin: center center;
    
    stroke-opacity: 0.0;
    position: absolute;
    top: calc(50% - 465px);
    left: calc(50% - 465px);
}