@keyframes swing {
    0% { transform: rotate(3deg); }
    100% { transform: rotate(-3deg); }
}
@keyframes float {
    0% { transform: translatey(0px); }
    50% { transform: translatey(-10px); }
    100% { transform: translatey(0px); }
}
@keyframes float-2 {
    0% { transform: translatey(-3px); }
    50% { transform: translatey(+8px); }
    100% { transform: translatey(-3px); }
}
@keyframes wobble {
    0% { transform: translatex(-3px); }
    50% { transform: translatex(10px); }
    100% { transform: translatex(-3px); }
}
@keyframes rotate-max {
    0% { transform: rotate(23); }
    25% { transform: rotate(0deg); }
    50% { transform: rotate(-23deg); }
    100% { transform: rotate(0deg); }
}

@keyframes enter-left{
    0% { transform: translatex(-300px)}
    100% { transform: translatex(0px)}
}
@keyframes enter-far-left{
    0% { transform: translatex(-500px)}
    100% { transform: translatex(0px)}
}
@keyframes enter-left-rotate{
    0% { transform: translatex(-300px) rotate(0); }
    100% { transform: translatex(0px) rotate(-12deg); }
}


@keyframes enter-right{
    0% { transform: translatex(300px); }
    100% { transform: translatex(0px); }
}
@keyframes enter-far-right{
    0% { transform: translatex(500px); }
    100% { transform: translatex(0px); }
}

@keyframes enter-right-rotate{
    0% { transform: translatex(300px) }
    100% { transform: translatex(0px) }
}

@keyframes neon-pulse{
    0%{-webkit-filter: drop-shadow( -2px -2px 2px transparent) drop-shadow( 2px 2px 4px transparent);
        filter: drop-shadow( -2px -2px 2px transparent) drop-shadow( 2px 2px 4px transparent);}
    100%{
        -webkit-filter: drop-shadow( -2px -2px 2px magenta) drop-shadow( 2px 2px 4px blue);
        filter: drop-shadow( -2px -2px 2px magenta) drop-shadow( 2px 2px 4px blue);
    }
}

@keyframes special-pulse{
    0%{
        color: var(--iotinga-white);
        border-color: var(--iotinga-white);
        /* background-color: transparent; */
    }
    25%{
        color: magenta;
        border-color: magenta;
        /* background-color: rgba(0, 0, 255, 0.3); */
    }
    50%{
        color: blue;
        border-color: blue;
        /* background-color: rgba(255, 0, 255, 0.6); */
    }
    75%{
        color: magenta;
        border-color: magenta;
        /* background-color: rgba(0, 0, 255, 0.3); */
    }
    100%{
        color: var(--iotinga-white);
        border-color: var(--iotinga-white);
        /* background-color: transparent; */
    }
}