::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.0);
} 
::-webkit-scrollbar-thumb {
    background: #fff;
} 
::-webkit-scrollbar-thumb:hover {
    background: #eee;
}
