@media only screen and (max-width: 1200px) {
    .logo-container{
        width: 6em;
    }
    .menu-container a{
        font-size: 1.2em;
    }
}


@media only screen and (min-width: 1366px) {
    .napoleon{
        margin-top: -10em;
    }
}

@media only screen and (max-width: 1164px) {
    .satellite-img{
        top: 14.5em;
        left: 10vw;
        width: 12em;
        z-index: 0;
    }
    .head-cloud-img{
        top: 10em;
        left: 0;
        margin-left: -14em;
        width: 30em;
    }
    .commodore{
        top: 26em;
        left: 0;
        margin-left: -3em;
        width: 13em;
    }
    .starman{
        top: 14em;
        right: 4em;
        width: 10em;
    }
    .hand{
        top: 26em;
        right: -5em;
        width: 18em;
    }
    .pc{
        top: 16em;
        left: -4em;
        width: 22em;
    }
    .cloud-2{
        width: 30em;
        top: 20em;
        left: -2em;
    }
    
    .cloud-3{
        top: 0;
        right: -19em;
        width: 50em;
    }
    .head-divider{
        height:14em;
    }
    .pointer{
        top: 2em;
        left: -2em;
        width: 14em;
    }
    .stamp{
        top: 6em;
        right: 10em;
        width: 14em;
    }
    .cloud-4{
        top: 3em;
        right: -10em;
        width: 30em;
    }

    .blue-section-footer{
        height: 20em;
    }
    .laptop{
        top: 2em;
        left: -1em;
        width: 14em;
    }
    .cloud-blue{
        top: 0em;
        left: -5em;
        width: 30em;
    }
    .cabinato{
        top: 0em;
        right: -4em;
        width: 20em;
    }
    .napoleon{
        margin-top: -7em;
    }
    

    .text-elements{
        font-size: 1em;
    }

    .text-elements b{
        font-size: 1.4em;
    }
    
    .text-column p{
        font-size: 1.2em;
    }
    .mac img{
        width: 24em;
    }
    .vhs img{
        width: 20em;
    }

    .work-with-us > div{
        padding-top: 9em;
    }
    .work-with-us > div > p{
        font-size: 1.4em;
    }
}