.mobile-menu {
    display: none;
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: var(--iotinga-white);
    margin: 6px 0;
    transition: 0.4s;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}



@media only screen and (max-width: 768px) {
    .header{
        padding: 1.25em 2em;

    }
    .logo-container{
        width: 5em;
    }
    .menu-container{
        display: none;
    }
    .mobile-menu{
        display: block;
        cursor: pointer;    
        margin-right: 0;
        margin-left: auto;
        margin-top: auto;
        margin-bottom: auto;
        padding: 0 10px;
    }
}

@media only screen and (max-width: 376px){
    .iotinga-center-logo{
        margin-top: -5em;
        margin-left: -9.5em;
        width: 19em;
        height: 10em;
    }
    .satellite-img{
        top: 10.5em;
        left: 10vw;
        width: 8em;
        z-index: 0;
    }
    .head-cloud-img{
        top: 9em;
        left: -3em;
        margin-left: -6em;
        width: 17em;
    }
    .starman{
        top: 7em;
        right: 2em;
        width: 8em;
    }
    .commodore{
        top: 32em;
        left: 0;
        margin-left: -2em;
        width: 10em;
    }
    .hand{
        top: 30em;
        right: -4em;
        width: 14em;
    }
    .text-elements{
        font-size: 1em;
    }
}