body{
    margin: 0;
    display: block;
}

.main-wrapper{
    display: none;
}

div {
    display: flex;
}

.space-header{
    height: 200vh;
    background-color: black;
}

.blue-section{
    height: 200vh;
    background-color: blue;
}

.magenta-section{
    height: 200vh;
    background-color: magenta;
}

.splitted-section{
    
}