::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: black;
} 
::-webkit-scrollbar-thumb {
    background: var(--iotinga-magenta);
    animation: scroll-pulse linear 60s infinite alternate;
} 
::-webkit-scrollbar-thumb:hover {
    animation: none;
    background: var(--iotinga-white);
}